<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MessageMapper">
	<sql id="select-message">
		select idmessage, room_id, member_id, nick_name, date_created, context, type
		from `coco`.`message`
	</sql>
	<sql id="insert-message">
		insert into `coco`.`message`
		(room_id, member_id, nick_name, date_created, context, type)
		values(#{roomId}, #{memberId}, #{nickName}, DATE_ADD(NOW(), INTERVAL
		9 HOUR), #{context}, #{type})
	</sql>

	<!-- 전체 검색 -->
	<select id="findAllMessage" resultType="Message">
		<include refid="select-message"></include>
		order by date_created asc;
	</select>
	
	<select id="findMessage" resultType="Message" parameterType="Message">
		<include refid="select-message"></include>
		<where>
			<if test="roomId !=0">
				room_id = ${roomId}
			</if>
			<if test="memberId !=0">
				AND
				member_id = ${memberId}
			</if>
			<if test="nickName !=null">
				AND
				nick_name = '${nickName}'
			</if>
			<if test="context !=null">
				AND
				context = '${context}'
			</if>
			<if test="type !=null">
				AND
				type = '${type}'
			</if>
		</where>
		order by date_created asc;
	</select>

	<insert id="addMessage" parameterType="Message"
		useGeneratedKeys="true" keyProperty="idmessage">
		<include refid="insert-message"></include>
	</insert>
</mapper>