<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 완벽한 행태의 CRUD가 다 들어있는 sqlMapper 이게 돌아간다면 MyBatis Framework에단에 문제가 없는 
	것으로 본다 일종의 단위테스트...MyBatisAppTest.java 가 바로 MyBatis Mapper 단위테스트 -->


<mapper namespace="WordDictionary_Mapper">

	<sql id="select-WordDictionary">
		select idword_dictionary, word,	description, link,thumbnail_src
		from word_dictionary
	</sql>
	<sql id="insert-WordDictionary">
		insert into word_dictionary
		(word,	description, link,thumbnail_src)
		values(#{word},#{description},#{link},#{thumbnailSrc})
	</sql>
	<sql id="update-WordDictionary">
		update word_dictionary set
		word=#{word},
		description=#{description},
		link = #{link},
		thumbnail_src = #{thumbnailSrc};
		where
		idword_dictionary=#{idwordDictionary}
	</sql>
	<sql id="delete-WordDictionary">
		delete from word_dictionary
	</sql>

	<!-- 전체 검색 -->
	<select id="findAllWordDictionary" resultType="WordDictionary">
		<include refid="select-WordDictionary"></include>
	</select>
	<select id="findWordDictionary" parameterType="WordDictionary" resultType="WordDictionary" >
		<include refid="select-WordDictionary"></include>
		<where>
			<if test="idwordDictionary!= 0">
				idword_dictionary = ${idwordDictionary}
			</if>
			
			<if test="word !=null">
				AND
				word = '${word}'
			</if>
			
			<if test="description !=null">
				AND
				description = '${description}'
			</if>
		</where>
	</select>

	<insert id="addWordDictionary" parameterType="WordDictionary"
		useGeneratedKeys="true" keyProperty="idwordDictionary">
		<include refid="insert-WordDictionary"></include>
	</insert>

	<update id="updateWordDictionary" parameterType="WordDictionary">
		<include refid="update-WordDictionary"></include>
	</update>

	<delete id="deleteWordDictionary" parameterType="WordDictionary">
		<include refid="delete-WordDictionary"></include>
		<where>
			<if test="idwordDictionary != 0">
				idword_dictionary = ${idwordDictionary}
			</if>
			AND
			<if test="word !=null">
				word = '${word}'
			</if>
			AND
			<if test="description !=null">
				description = '${description}'
			</if>
		</where>
	</delete>

</mapper>

















