<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 완벽한 행태의 CRUD가 다 들어있는 sqlMapper 이게 돌아간다면 MyBatis Framework에단에 문제가 없는 
	것으로 본다 일종의 단위테스트...MyBatisAppTest.java 가 바로 MyBatis Mapper 단위테스트 -->


<mapper namespace="BabyPost_Mapper">
	<sql id="select-BabyPost">
		select 
		idbaby_post, post_parents, post_child
		from 
		baby_post
	</sql>
	<sql id="insert-BabyPost">
		insert into baby_post
		( post_parents, post_child)
		values(#{postParents},#{postChild})
	</sql>
	<sql id="update-BabyPost">
		update baby_post set
		post_parents=#{postParents},
		post_child=#{postChild}
		where
		idbaby_post=#{idbabyPost}
	</sql>
	<sql id="delete-BabyPost">
		delete from baby_post
	</sql>

	<!-- 전체 검색 -->
	<select id="findAllBabyPost" resultType="BabyPost">
		<include refid="select-BabyPost"></include>
	</select>
	<select id="findBabyPost" resultType="BabyPost">
		<include refid="select-BabyPost"></include>
		<where>
			<if test="idbabyPost !=0">
				idbaby_post = '${idbabyPost}'
			</if>
			<if test="postParents !=0">
				AND
				post_parents = '${postParents}'
			</if>
			<if test="postChild !=0">
				AND
				post_child = '${postChild}'
			</if>
		</where>
	</select>

	<insert id="addBabyPost" parameterType="BabyPost"
		useGeneratedKeys="true" keyProperty="idbabyPost">
		<include refid="insert-BabyPost"></include>
	</insert>

	<update id="updateBabyPost" parameterType="BabyPost">
		<include refid="update-BabyPost"></include>
	</update>

	<delete id="deleteBabyPost" parameterType="BabyPost">
		<include refid="delete-BabyPost"></include>
		<where>
			<if test="idbabyPost !=0">
				idbaby_post = '${idbabyPost}'
			</if>
			<if test="postParents !=0">
				AND
				post_parents = '${postParents}'
			</if>
			<if test="postChild !=0">
				AND
				post_child = '${postChild}'
			</if>
		</where>
	</delete>
</mapper>

















